<div>
    <div class="city-container uk-container uk-margin-auto uk-padding-small">
        <h3 
        [ngClass]="[
                'uk-margin-none',
                'uk-text-center',
                animate ? 'uk-animation-slide-top' : ''
                ]">
            {{city}}
        </h3>
    </div>
    <div class="main-clock-parent">
        <div class="main-clock-height-fix"></div>
        <div class="main-clock-container">
            <div class="lines-container">
                <div class="shield-line line-1-container"></div>
                <div class="shield-line line-2-container"></div>
                <div class="shield-line line-3-container"></div>
                <div class="shield-line line-4-container"></div>
                <div class="shield-line line-5-container"></div>
                <div class="shield-line line-6-container"></div>
            </div>
            <div class="shield-container">
                <div class="main-clock">
                <div 
                class="second-hand-container"
                [style.transform]="'rotate(' + secondsDegree + 'deg)'"
                >
                    <div class="second-hand"></div>
                </div>
                <div 
                class="minute-hand-container"
                [style.transform]="'rotate(' + minutesDegree + 'deg)'"
                >
                    <div class="minute-hand"></div>
                </div>
                <div 
                class="hour-hand-container"
                [style.transform]="'rotate(' + hoursDegree + 'deg)'"
                >
                    <div class="hour-hand"></div>
                </div>
                <div class="shield-pin"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="time-container uk-container uk-margin-auto uk-padding-small">
        <p class="uk-margin-none uk-text-large uk-text-center">
            {{currentTime}}
        </p>
    </div>

    <div class="zone-container uk-container uk-margin-auto uk-padding-small">
        <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center">
            <div class="uk-flex-none">
                <button 
                class="uk-padding-small uk-button uk-button-default"
                [attr.disabled]="zone < -11 ? 'disabled' : null"
                (click)="decrementZone()">
                    <span uk-icon="icon: chevron-left" ratio="1.5"></span>
                </button>
            </div>
            <div 
            class="uk-flex-1">
                <p [ngClass]="[
                'uk-margin-none',
                'uk-text-large',
                animate ? 'uk-animation-slide-bottom' : ''
                ]">
                    UTC{{zone >= 0 ? '+' + zone : zone}}
                </p>
            </div>
            <div class="uk-flex-none">
                <button 
                    class="uk-padding-small uk-button uk-button-default"
                    [attr.disabled]="zone > 13 ? 'disabled' : null"
                    (click)="incrementZone()">
                        <span uk-icon="icon: chevron-right" ratio="1.5"></span>
                </button>
            </div>
        </div>
    </div>
</div>