<div>
    <div class="main-clock-container">
    <div class="lines-container">
        <div class="shield-line line-1-container"></div>
        <div class="shield-line line-2-container"></div>
        <div class="shield-line line-3-container"></div>
        <div class="shield-line line-4-container"></div>
        <div class="shield-line line-5-container"></div>
        <div class="shield-line line-6-container"></div>
    </div>
    <div class="shield-container">
        <div class="main-clock">
        <div 
        class="second-hand-container"
        [style.transform]="'rotate(' + secondsDegree + 'deg)'"
        >
            <div class="second-hand"></div>
        </div>
        <div 
        class="minute-hand-container"
        [style.transform]="'rotate(' + minutesDegree + 'deg)'"
        >
            <div class="minute-hand"></div>
        </div>
        <div 
        class="hour-hand-container"
        [style.transform]="'rotate(' + hoursDegree + 'deg)'"
        >
            <div class="hour-hand"></div>
        </div>
        <div class="shield-pin"></div>
        </div>
    </div>
    </div>
    <div class="time-container">
        <p>
        {{currentTime}} (UTC{{zone >= 0 ? '+' + zone : zone}})
        </p>
    </div>
</div>